{% extends "index.html" %}

{% block content %}

<h2 class="text-center mt-4">Analysis History</h2>

<!-- GRAPH -->

<h4 class="text-center mt-4">Wallet Category Distribution</h4>
<div style="width:350px;height:350px;margin:auto;background:#020617;padding:20px;border-radius:12px;">
<canvas id="historyChart"></canvas>
</div>

<!-- TABLE -->

<table class="table table-dark mt-4">

<thead>
<tr>
<th>Wallet</th>
<th>Category</th>
<th>Risk</th>
</tr>
</thead>

<tbody>

{% for row in data %}

<tr>
<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>{{ row[2] }}</td>
</tr>
{% endfor %}

</tbody>

</table>

<!-- CHART JS -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

var labels = [];
var values = [];

{% for item in stats %}
labels.push("{{ item[0] }}");
values.push({{ item[1] }});
{% endfor %}

var ctx = document.getElementById('historyChart');

new Chart(ctx, {

type: 'pie',

data: {
labels: labels,
datasets: [{
data: values,
backgroundColor: [
'#22c55e',
'#ef4444',
'#38bdf8'
]
}]
},

options: {

responsive: true,
maintainAspectRatio: false,

plugins: {
legend: {
labels: {
color: "white"
}
}
}

}



});

</script>

{% endblock %}
